.debug [class*="col-"] {
  background-color: rgb(17, 177, 226);
  border: 1px solid black;
  min-height: 100px;
}

.mm-bg-green {
  background-color: #1ABC9C;
}

.mm-bg-gray {
  background-color: #2C3E50;
  color: white;
}

/* HEADER */
.mm-header-top {
  height: 100px;
}

.header-right ul {
  list-style: none;
}

.mm-header-bottom {
  padding: 50px 0;
}

/* ABOUT */
.about {
  background-color: #1ABC9C;
  height: 100%;
  padding: 50px 0;
}

/* CONTACT ME */
.contact-me > div:last-child {
  margin-top: 100px;
}

/* FOOTER */
.links {
  background-color: #3A546D;
  height: 100%;
  padding: 50px 0;
}
